<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <meta name="author" content="Pedro Fraca Tarancón" />
    <!--link rel="shortcut icon" href="/favicon.ico" /-->

    <!-- Homepage CSS -->
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

    <link href="http://pedrofraca.github.com/atom.xml" rel="alternate" title="Pedro Fraca Tarancón" type="application/atom+xml" />
    <!-- Google analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-2611312-6']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
</script>
</head>
<body>


  <div class="site">
    <div class="header clearfix">
      <div class="title"><a href="/">Software!</a></div>
      <div class="subtitle">Software and some other stuff</div>
    </div>

    {{ content }}

    <div class="footer clearfix">
      <div class="contact">
        <img class="portrait" src="/images/fraca.jpeg"/>
        <div class="title"><a href="/">a blog by Pedro Fraca Tarancón</a></div>
	<a href="http://github.com/pedrofraca">github</a> ~ <a href='http://www.linkedin.com/pub/pedro-fraca/14/938/91a'>linkedin</a></div>
      </div>

    </div>
  </div>
</body>
</html>
